<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <a class="navbar-brand">TALE TROVE</a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>

    <!-- Main Container -->
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="subtitle">Top Trending Book recommendations</h2>
                
                <!-- Search Form -->
                <form action="/recommend_books" method="post" class="search-form">
                    <input name="user_input" type="text" class="form-control search-box" placeholder="Search for a book...">
                    <br>
                    <button type="submit" class="btn btn-submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="row">
            {% if data %}
                {% for i in data %}
                    <div class="col-md-3" style="margin-top:30px">
                        <div class="card">
                            <div class="card-body">
                                <img class="card-img-top" src="{{ i[2] }}">
                                <p>{{ i[0] }}</p>
                                <h4>{{ i[1] }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

</body>
</html>
